# Encuesta continua de hogares 2020

### de acuerdo al nivel educativo cómo se comporta la promabilidad de una mujer de insertarse en el mercado de embpleo confomre aumenta su cantidad de hijos 
### dentro de cada nivel educativo cómo afecta la inserción en el mercado de embpleo para las mujeres conforme aumenta la cantidad de hijos

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
df = pd.read_spss('HyP_2020_Terceros.sav')

In [3]:
df.sample(5)

,numero,nper,hogar,anio,mes,sem,dpto,region_3,region_4,loc_agr_13,...,e224_1,e225,e51_11,e226_1,e212,e212_1,e213,e51_7,e51_7_1,e214_1
27020,21402,2.0,Caso duplicado,2020,Noviembre,41,Tacuarembó,02,"Interior, localidades de 5000 habitantes o más",18020,...,Sin dato,Sin dato,99.0,99.0,Sin dato,Sin dato,Sin dato,99.0,Sin dato,99.0
132968,21187,1.0,Caso primario,2020,Mayo,18,Montevideo,01,Montevideo,01010,...,0.0,0.0,0.0,0.0,No asistió,0.0,0.0,0.0,0.0,0.0
128131,9456,2.0,Caso duplicado,2020,Agosto,29,Montevideo,01,Montevideo,01010,...,0.0,0.0,0.0,0.0,No asistió,0.0,0.0,0.0,0.0,0.0
127963,9379,2.0,Caso duplicado,2020,Agosto,31,Montevideo,01,Montevideo,01010,...,0.0,0.0,0.0,0.0,No asistió,0.0,0.0,0.0,0.0,0.0
24115,20047,1.0,Caso primario,2020,Mayo,18,Montevideo,01,Montevideo,01010,...,0.0,0.0,0.0,0.0,No asistió,0.0,0.0,0.0,0.0,0.0

In [14]:
#df.columns

# df.columns[df.isna().any()].tolist()

round(df.isnull().sum() / len(df) * 100,1).sort_values(ascending=False)

e49_cv          11.4
f98_3           11.4
e45_2_1_cv      11.4
e45_1_1_1_cv    11.4
e45_1_1_cv      11.4
                ...
g126_8           0.0
g126_7           0.0
g126_6           0.0
g126_5           0.0
e214_1           0.0
Length: 430, dtype: float64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145166 entries, 0 to 145165
Columns: 430 entries, numero to e214_1
dtypes: category(218), float64(204), object(8)
memory usage: 266.0+ MB

In [6]:
df['pobpcoac'].value_counts() / len(df['pobpcoac']) * 100

Ocupados                                      43.915242
Inactivo, jubilado                            16.902029
Menor 14 años                                 15.480898
Inactivo, estudiante                           8.152735
Inactivo, realiza los quehaceres del hogar     5.433779
Inactivo, pensionista                          3.998870
Desocupados propiamente dichos                 3.600705
Inactivo, otro                                 1.193806
Desocupados BT1V                               0.688867
Inactivo, rentista                             0.340989
Desocupados en seguro de desempleo             0.292079
Name: pobpcoac, dtype: float64

In [7]:
df['e26'].value_counts()

2.0    78021
1.0    67145
Name: e26, dtype: int64

In [8]:
asc_princ = df['e29_6'].value_counts()

asc_princ_porcentage = df['e29_6'].value_counts() / len(df['e29_6']) * 100

asc_princ
asc_princ_porcentage

Blanca                 69.510767
Asiática o amarilla    23.261645
Afro o negra            3.583484
Sin dato                2.384856
Indígena                1.244782
Otra                    0.014466
Name: e29_6, dtype: float64

In [9]:
df['e563'].value_counts()

Mujer                    69037
Varón                    57429
0.0                      18571
Sin dato                    78
Mujer trans                 29
Varón trans                 14
Otra                         6
No sabe / No contesta        2
Name: e563, dtype: int64

In [10]:
df['e30'].value_counts()

Jefe/a de hogar                            58021
Esposo/a o compañero/a                     31354
Hijo/a de ambos                            27083
Hijo/a solo del jefe/a                     15987
Nieto/a                                     4233
Hijo/a solo del esposo/a compañero/a        2288
Padre/madre                                 1601
Hermano/a                                   1070
Otro pariente                                888
Yerno/nuera                                  875
Otro no pariente                             865
Suegro/a                                     412
Sin dato                                     316
Cuñado/a                                     149
Servicio doméstico o familiar del mismo       24
Name: e30, dtype: int64

In [17]:
#id hogar
df['numero'].value_counts()

56535    16
9287     13
14619    13
23586    13
13445    12
         ..
2648      1
26480     1
26482     1
26496     1
9998      1
Name: numero, Length: 58594, dtype: int64