# Encuesta continua de hogares 2020

### Cuánto afecta el nivel eductativo y la cantidad de hijos a las posibilidades de inserción laboral de una mujer

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [17]:
df = pd.read_spss('HyP_2020_Terceros.sav')

df.to_csv('encuesta.csv', index=False)


# df = df.rename(columns={
#     'numero': 'id hogar',
#     'e26': 'sexo',
#     'e563': 'genero',
#     'e29_6': 'ascendencia',
#     'e30': 'parentesco',
#     'pobpcoac': 'estado laboral',
#     })

In [3]:
df.sample(5)

,id hogar,nper,hogar,anio,mes,sem,dpto,region_3,region_4,loc_agr_13,...,e224_1,e225,e51_11,e226_1,e212,e212_1,e213,e51_7,e51_7_1,e214_1
89876,46982,2.0,Caso duplicado,2020,Abril,14,Río Negro,02,"Interior, localidades de 5000 habitantes o más",36050,...,0.0,0.0,0.0,0.0,"Sí, asistió",Sí,Público,1.0,Ciclo Básico (liceo o CETP-UTU),Programas Intermedios de Informática
140895,47992,1.0,Caso primario,2020,Setiembre,35,Rivera,03,Zona rural,31900,...,0.0,0.0,0.0,0.0,No asistió,0.0,0.0,0.0,0.0,0.0
4544,11673,1.0,Caso primario,2020,Octubre,39,Montevideo,01,Montevideo,01010,...,Sí,Público,1.0,Programas Superiores de Medicina,No asistió,0.0,0.0,0.0,0.0,0.0
144836,8945,1.0,Caso primario,2020,Octubre,40,Montevideo,01,Montevideo,01010,...,0.0,0.0,0.0,0.0,No asistió,0.0,0.0,0.0,0.0,0.0
89441,46832,1.0,Caso primario,2020,Marzo,10,Río Negro,03,"Interior, localidades de menos de 5000 habitantes",36000,...,0.0,0.0,0.0,0.0,No asistió,0.0,0.0,0.0,0.0,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145166 entries, 0 to 145165
Columns: 430 entries, id hogar to e214_1
dtypes: category(218), float64(204), object(8)
memory usage: 266.0+ MB

In [5]:
df['estado laboral'].value_counts() / len(df['estado laboral']) * 100

Ocupados                                      43.915242
Inactivo, jubilado                            16.902029
Menor 14 años                                 15.480898
Inactivo, estudiante                           8.152735
Inactivo, realiza los quehaceres del hogar     5.433779
Inactivo, pensionista                          3.998870
Desocupados propiamente dichos                 3.600705
Inactivo, otro                                 1.193806
Desocupados BT1V                               0.688867
Inactivo, rentista                             0.340989
Desocupados en seguro de desempleo             0.292079
Name: estado laboral, dtype: float64

## Género

In [6]:
df['genero'].value_counts()

Mujer                    69037
Varón                    57429
0.0                      18571
Sin dato                    78
Mujer trans                 29
Varón trans                 14
Otra                         6
No sabe / No contesta        2
Name: genero, dtype: int64

## Ascendencia

In [7]:
asc_princ_porcentage = df['ascendencia'].value_counts() / len(df['ascendencia']) * 100

asc_princ_porcentage

Blanca                 69.510767
Asiática o amarilla    23.261645
Afro o negra            3.583484
Sin dato                2.384856
Indígena                1.244782
Otra                    0.014466
Name: ascendencia, dtype: float64

## Composición del hogar

In [8]:
df['id hogar'].value_counts()

56535    16
9287     13
14619    13
23586    13
13445    12
         ..
2648      1
26480     1
26482     1
26496     1
9998      1
Name: id hogar, Length: 58594, dtype: int64

In [9]:
df['parentesco'].value_counts()

Jefe/a de hogar                            58021
Esposo/a o compañero/a                     31354
Hijo/a de ambos                            27083
Hijo/a solo del jefe/a                     15987
Nieto/a                                     4233
Hijo/a solo del esposo/a compañero/a        2288
Padre/madre                                 1601
Hermano/a                                   1070
Otro pariente                                888
Yerno/nuera                                  875
Otro no pariente                             865
Suegro/a                                     412
Sin dato                                     316
Cuñado/a                                     149
Servicio doméstico o familiar del mismo       24
Name: parentesco, dtype: int64

In [10]:
df[['id hogar', 'nper', 'parentesco']]

       id hogar  nper              parentesco
0           100   1.0         Jefe/a de hogar
1           100   2.0  Esposo/a o compañero/a
2           100   3.0         Hijo/a de ambos
3          1000   1.0         Jefe/a de hogar
4          1000   2.0  Hijo/a solo del jefe/a
...         ...   ...                     ...
145161     9992   1.0         Jefe/a de hogar
145162     9993   1.0         Jefe/a de hogar
145163     9994   1.0         Jefe/a de hogar
145164     9996   1.0         Jefe/a de hogar
145165     9998   1.0         Jefe/a de hogar

[145166 rows x 3 columns]

In [11]:
df[['id hogar', 'nper']].groupby(by='id hogar').count().sort_values(by='nper', ascending=False)

          nper
id hogar
56535       16
14619       13
9287        13
23586       13
52853       12
...        ...
37352        1
37338        1
37337        1
37336        1
36366        1

[58594 rows x 1 columns]

In [13]:
familia = pd.pivot_table(df, index='id hogar', columns='parentesco',values=['nper'], aggfunc='count')

familia['totales'] = familia.apply(lambda x:x.sum(), axis=1)

familia.sort_values(by='totales', ascending=False)

               nper                                                   \
parentesco Cuñado/a Esposo/a o compañero/a Hermano/a Hijo/a de ambos
id hogar
56535             0                      1         0              10
14619             0                      0         0               0
9287              0                      0         0               0
23586             0                      0         0               0
52853             0                      1         0               3
...             ...                    ...       ...             ...
37352             0                      0         0               0
37338             0                      0         0               0
37337             0                      0         0               0
37336             0                      0         0               0
36366             0                      0         0               0

                                                                        \
parentesco Hijo/a solo del esposo/a compañero/a Hijo/a solo del jefe/a
id hogar
56535                                         0                      0
14619                                         0                      4
9287                                          0                      5
23586                                         0                      6
52853                                         0                      0
...                                         ...                    ...
37352                                         0                      0
37338                                         0                      0
37337                                         0                      0
37336                                         0                      0
36366                                         0                      0

                                                                               \
parentesco Jefe/a de hogar Nieto/a Otro no pariente Otro pariente Padre/madre
id hogar
56535                    1       4                0             0           0
14619                    1       4                2             0           0
9287                     1       6                0             0           0
23586                    1       3                1             0           0
52853                    1       5                0             0           0
...                    ...     ...              ...           ...         ...
37352                    1       0                0             0           0
37338                    1       0                0             0           0
37337                    1       0                0             0           0
37336                    1       0                0             0           0
36366                    1       0                0             0           0

                                                                      \
parentesco Servicio doméstico o familiar del mismo Sin dato Suegro/a
id hogar
56535                                            0        0        0
14619                                            0        0        0
9287                                             0        0        0
23586                                            0        2        0
52853                                            0        0        0
...                                            ...      ...      ...
37352                                            0        0        0
37338                                            0        0        0
37337                                            0        0        0
37336                                            0        0        0
36366                                            0        0        0

                       totales
parentesco Yerno/nuera
id hogar
56535                0      16
14619                2      13
9287                 1      13
23586                0      13
52853                2      12
...                ...     ...
37352                0       1
37338                0       1
37337                0       1
37336                0       1
36366                0       1

[58594 rows x 16 columns]

In [16]:
familia['totales'].value_counts().sort_index()

1     15749
2     18429
3     11547
4      8634
5      2870
6       887
7       267
8       134
9        44
10       11
11        8
12       10
13        3
16        1
Name: totales, dtype: int64